html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #080b11;
  color: #e6edf3;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}
